body, h1, h2, h3, h4, h5, h6, ul, li {margin:0; padding: 0;}
body {
	font-size: 16px;
	font-family: Helvetica;
}

header, nav, main, footer {
	max-width: 960px;
	margin: 0 auto;
}

header{
    height: 300px;
    max-width: 960px;
    background-size: 960px, 300px;
    margin: 0 auto;
    padding: 10px;
}


/* Desktop Nav */
@media only screen and (min-width: 601px) {
    div.smallMenuLink {display: none;
    }
    nav#smallNavArea{display: none;
    }
    ul#primaryNavigation {display: block;
    }
    nav {background-color: royalblue;
    }
	nav ul#primaryNavigation {
		list-style: none;
	}
	nav ul#primaryNavigation li {
		float: left;
        border: solid 1px lightblue; 
	}
	nav ul#primaryNavigation li a { 
		display:block;
		color: white;
        text-decoration:none;
        font-size: 12pt;
		padding: 1.2rem;
		font-weight: bold;
	}
	nav ul#primaryNavigation li a:hover {
		color: lightgray;	
	}
} /* end desktop */






/* Mobile Nav */
@media only screen and (max-width: 600px) {
    nav#smallNavArea{display: block; 
    }
    ul#primaryNavigation {display: none;
    }
    nav#smallNavArea {height:100vh; background-color: gray;
    }
    nav#smallNavArea ul  {padding: .5em 0;
    }
    nav#smallNavArea ul li {list-style: none;
    }
	nav#smallNavArea ul li a {
		text-decoration: none;
        color: white;
        display: block;
		margin: .4rem;
		padding: .6rem;
		text-align: center;
        background-color: royalblue;
        border-radius: .3rem;
	}

	div.smallMenuLink {
		display: block;
		background-color: royalblue;
	}
	div.smallMenuLink a {
		display: block;
        padding: .3rem;
        color: white;
		text-decoration: none;
    }
} /* end mobile */

main img.header {width: 75%;}

footer{
    text-align: center;
    background-color: royalblue;
    color: whitesmoke;
    padding: 5px;
    font-size: 9pt;
    border-radius: .2rem;
}

.keepOpen{
	clear:both;
}

main {
    margin-left: 2rem;
    margin-right: 2rem;
}

#needspadding {
    padding-top: 2rem;
}